.Brand1 {
    font-family: 'Bungee Shade', cursive;
    color: rgb(92, 179, 181);
    vertical-align: 8%;
}

.Brand2 {
    font-family: 'Monoton', cursive;
    color: rgb(127, 246, 77);

}
